* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a {
    list-style-type: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}

main {
    position:absolute;
    top: 35%;
    left:80%;
    transform: translate(-50%, -50%);
    width: max-content;
}

h1 {
    color: #910d0d;
    text-align: center;
    font-size: 84px;
}

h2 {
    text-align: center;
    font-size: 44px;
}

.image {
    background: url(../images/OM-lookdown.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height:100vh;
}

.image::before {
    content: "";
    height: 100vh;
    width: 100vw;
    background: #ffffff ;
    z-index: 5;
}

.container_background {
    border: 2px black solid;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* justify-items: center; */
}

.background {
    /* border: 2px green solid; */
    position:relative;
}

.background_image {
    justify-content:center;
    align-items: center;
    display: flex;
    
    
}

.image_MK {
    background: url(../images/Omni-Man-MK.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 40vw;
    height: 40vh;
    /* clip-path: circle(50%); */
    position: relative;
    /* top:50%;
    left: 12.5%;
    transform: translate(0, -50%); */
    /* position: relative; */
    /* margin-inline-end: 20px ; */
}

.image_MK::before {
    content:"";
    width:90%;
    height: 20px;
    bottom: -50px;
    left:5%;
    /* border-radius:50% ; */
    background: rgba(0,0,0,0.8);
    position:absolute;
    z-index: -1;
    filter:blur(15px);
}


.omni_man_background {
    /* top:50%; */
    text-align: center;
    position: relative;
    /* transform: translateY(-50%); */
    /* height: 100%; */
    height: 100%;
}

h3 {
    font-size: 52px;
    font-weight: 800;
    color:#910d0d;
    /* position:absolute; */
    top: 20%;
}

.omni_man_background_text {
    transform: translate(0,10%);
}

.omni_man_background_text li {
    width: fit-content;
    position: relative;
    margin: 50px  auto 70px auto;
    font-weight: 800;
    color: #200505;
    font-size:20px;
}

.omni_man_background_text li::before {
    content: url(../images/Omniman_logo.png);
    position: absolute;
    /* margin-top: 10px;
    margin-right: 10px; */
    vertical-align: middle;
    bottom: 80%;
    right: 50%;
}

.powers {
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 3em;
    font-weight: 800;
    color: #910d0d;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.powers > div {
    width: 50vw;
    height: 50vh;
    /* border: 2px black solid; */
}

.power_title  {
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 19, 126);
    position: relative;
    z-index: 4;
}
.powers h2 {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #910d0d;
}
.image_wrapper {
    width: 250px;
    height: 250px;
    position:relative;
    overflow:hidden;
    display: inline-block;
    border-radius: 50%;
}

.image_powers {
width: auto;
height:100%;
}
.image_aging {
    margin-left: -25%;
}

.image_flying {
    margin-left: -40%;
    zoom: 85%;
    /* transform: scale(0.8); */
}

.omni_man_strong {
    margin-left: -75%;
}

.omni_man_speed {
    margin-left: -20%;
    margin-top: -40%;
    zoom: 55%;
}


.power_items {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.power_description {
    display: block;
}